!!! 5
html(lang="en", manifest="cache.manifest")
  head
    title word card / словесные карты!
    meta(charset="utf-8")
    script(type="text/javascript", src="lib/jquery-1.5.1.js")
    script(type="text/javascript", src="lib/underscore.js")
    script(type="text/javascript", src="lib/backbone.js")
    script(type="text/javascript", src="lib/backbone.localStorage.js")
    script(type="text/javascript", src="models/models.js")
    script(type="text/javascript", src="views/views.js")
    script(type="text/javascript", src="controllers/controllers.js")
  body
    p The most awesome app: the word card game!

    div(id="not-saved")

    div(id="main-content")
      | here we go

    a(href="#") Menu

    // templates
    - var so = function(id) { return '<script type="text/template" id="' + id + '">'; }
    - var sc = '</script>'

    | !{so("notsaved-template")}
    p
      | <%= col.length %> item<%= (col.length > 1 ? 's' : '') %> not synced.
      a(href="#sync") Sync
    | !{sc}

    | !{so("menu-template")}
    p What do you want to do?
    ul
      li
        a(href="#game") Card game
      li
        a(href="#add") Add a card
    | !{sc}

    | !{so("ask-template")}
    ul
        li
          | <% if (lang == 'ru') { %>
          input(class="ask-input")
          | <% } else { %>
          | <%= card.get('ru') %>
          | <% } %>
        li
          | <% if (lang == 'de') { %>
          input(class="ask-input")
          | <% } else { %>
          | <%= card.get('de') %>
          | <% } %>
      p your score is <%= score %> / <%= count %>
      | <% if (result) { %>
      p <%= result %>
      | <% } %>
    | !{sc}

    | !{so("add-template")}
    form
        ul
          li
            label Ru:
              input(class="ru")
          li
            label De:
              input(class="de")
          li
            input(type="submit", value="Save")
          | <% if (result) { %>
          p <%= result %>
          | <% } %>
    | !{sc}



